html {
	/* IE10+ */ 
	background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #EDF6C8 0%, #136278 90%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #EDF6C8 0%, #136278 90%);
	
	/* Opera */ 
	background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #EDF6C8 0%, #136278 90%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, #EDF6C8), color-stop(90, #136278));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #EDF6C8 0%, #136278 90%);
	
	/* W3C Markup */ 
	background-image: radial-gradient(ellipse farthest-corner at center bottom, #EDF6C8 0%, #136278 90%);
	
	-webkit-background-size: cover;
  	-moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 height:100%;
}
body {
	background-color: transparent !important;
	color:black;
}

h1 {
	text-align:center;
}

* {
	color: #DEDEDE;	
}

.grey-back {
	background-color: #2D3639;
	margin-top:25px;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;	
}

.card {
	margin: 40px 10px;
	padding:40px 0px;
	background-color: #1EA48E;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	cursor: pointer;
}

.card i {
	transition: all .2s ease-in-out;
}

.card a {
	color: inherit !important;
}

.card a:hover {
	text-decoration: none;
	color: inherit !important;
}

.card i:hover {
	transform: scale(1.1);
}

.footer {
	
}


.footer p {
	font-size: 11px;
	text-align: center;
}

.lights-labels {
	width: 100%;
}

.lights-label {
	display: inline-block;
	color: #565656;
}

.right {
	position: absolute;
	right: 20px;
}

#temperature-display {
	text-align: center;
	font-size: 3em;
	color: #565656;
}
